.nav-content {
    display: inline;
}

.nav-list {
    font-family: Montserrat;
    font-size: larger;
}

.col {
    align-items: end;
    justify-content: center;
}

.col-nav {
    width: 25%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link {
    text-decoration: none;
    color: black;
}

#btn_login {
    border: 1px solid;
    color: #0d97f9;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}