.header {
    padding-left: 10%;
    padding-right: 10%;
    background: url('../../../assets/Backgrounds/Bg_Header.png');
    background-repeat: repeat-x;
}

#title_init {
    font-family: Montserrat-light;
    font-size: xxx-large;
}

#name {
    color: limegreen;
}

.header-content {
    align-items: center;
    margin-top: 10vh;
}

.image-header {
    padding-left: 20%;
}

#benefits {
    background: #edf3ff;
}

.title-middle {
    align-items: center;
}

.content-image {
    position: relative;
    text-align: center;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#woloxers {
    color: deepskyblue;
}

#btn-decoration {
    margin-top: 15px;
    border: 3px solid;
    color: #0d97f9;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
}

#btn_follow {
    padding: 50px;
    color: white;
    text-decoration: unset;
}

#title_middle {
    text-align: center;
    font-family: Montserrat-light;
    font-size: xxx-large;
}