<div class="container">
    <div class="header">
        <app-navbar></app-navbar>
        <div 
            id="index"
            class="row header-content">
            <div 
                class="col-50">
                <h4 id="title_init">
                    <span>Bienvenidos a tu</span><br>
                    <span>Entrevista técnica en</span><br>
                    <span id="name">Wolox</span>
                </h4>
            </div>
            <div class="col-50">
                <div class="image-header">
                    <img 
                        src="../../../assets/Img Hero/Ic_ilustra_Hero.png" 
                        alt="header">
                </div>
            </div>
        </div>
        <div 
            id="technologies"
            class="row header-content">
            <div 
                class="col-50">
                <h4 id="title_init">
                    <span>Estamos buscando</span><br>
                    <span>para incorporar gente</span><br>
                    <span>increíble en estas </span><br>
                    <span>tecnologías</span>
                </h4>
            </div>
            <div class="col-50">
                <div class="image-header">
                    <img 
                        src="../../../assets/Ic_Tecnologys.svg" 
                        alt="header">
                </div>
            </div>
        </div>
        <div
            id="benefits"
            class="row header-content">
            <div 
                class="col-50">
                <div class="content-image">t
                    <img 
                        src="../../../assets/img_woloxer.png" 
                        alt="header">
                    <div class="center-text">
                        <div id="title_init">
                            <span id="name">350 + </span>
                            <span id="woloxers">Woloxers</span><br>
                            <span>
                                <img 
                                    src="../../../assets/Twitter_Logo_WhiteOnImage.svg"
                                    alt="twitter"
                                    width="70">
                            </span>
                            <span>@wolox</span><br>
                            <div id="btn-decoration">
                                <a 
                                    href="https://twitter.com/Wolox"
                                    target="_blank"
                                    role="button"
                                    id="btn_follow">
                                    Siguenos
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-50 title-middle">
                <h4 id="title_middle">
                    <span>Trabajamos para</span><br>
                    <span id="woloxers">convertir </span>
                    <span id="name">ideas en</span><br>
                    <span>productos</span><br>
                </h4>
            </div>
        </div>
    </div>
</div>